<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger level="INFO" name="sample.logback"/>
  <springProfile name="test,dev">
    <logger level="INFO" name="org.springframework.web"/>
    <logger level="INFO" name="org.springboot.sample"/>
    <logger level="info" name="com.kfit"/>
  </springProfile>


  <!-- 生产环境. -->
  <springProfile name="prod">
    <logger level="ERROR" name="org.springframework.web"/>
    <logger level="ERROR" name="org.springboot.sample"/>
    <logger level="ERROR" name="com.kfit"/>
  </springProfile>
</configuration>